.container {
    text-align: center;
}

.input {
    color: darkviolet;
    background-color: black;
    height: 50px;
}

.button {
    padding: 10px;
    background-color: darkviolet;
    border: 2px solid darkviolet;
    font-size: 25px;
    border-radius: 5px;
}